/* .wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
} */

@font-face {
  font-family: "HarmonyOS_Sans_SC_Regular";
  src: url("./font/HarmonyOS_Sans_SC_Regular.woff2") format("woff2"),
    url("./font/HarmonyOS_Sans_SC_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
